.bigCounter{
    text-align: center;
    background-color: black;
}


.bigCounter div {
    display: inline-block;
    margin:auto;
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
    background: #272525;
    color: white;
    margin: 3px;
}